.our-team {
  margin-top: 15rem;
  margin-bottom: 12rem;
  @media screen and (max-width: 992px) {
    margin-top: 12rem;
    margin-bottom: 10rem;
  }
  @media screen and (max-width: 576px) {
    margin-top: 9rem;
    margin-bottom: 7rem;
  }
  &__header {
    margin: 0 auto 4.2rem;
    max-width: 86rem;
    text-align: center;
  }
  &__title {
    margin-bottom: 1.6rem;
  }
}