html {
  font-size: 62.5%;
  height: 100%;
  min-width: 320px;

  @media screen and (max-width: 1550px) {
    font-size: 60%;
  }

  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }

  @media screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  padding-top: 97px;
  font-family: var(--font-1);
  font-size: 1.8rem;
  color: var(--text-color);
  background: white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    width: 1px;
    height: 100%;
    background-color: yellow;
    z-index: 1000;
  }

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}

input[type="submit"]:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  // -webkit-user-select: none; /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
