:root {
  --font-1: "Open Sans", sans-serif;
  --font-2: "Roboto", sans-serif;
  --font-3: "Yellowtail";

  --accent-dark: rgb(91, 11, 11);
  --accent-light: rgb(173, 21, 21);
  --contrast: rgb(15, 119, 57);

  --accent: #274c5b;
  --contrast: #efd372;
  --text-color: #525c60;
  --text-accent: #68a47f;
}

// $minWidth: 320px;
// $maxWidth: 1920;
// $cntPaddings: 0 20px;
// $maxWidthContainer: 1170;
//
// $mainFont: "Roboto", sans-serif;
//
// //colors
// $white: #fff;
// $black: #000;
// $text: #333;
// $accent: rgb(119, 15, 15);
