title {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #000;
}
url {
    display: block;
    padding: 0.2rem 3rem;
}
loc {
    /* display: block; */
    color: black;
}
lastmod {
    /* display: block; */
    color: green;
}
changefreq {
    /* display: block; */
    color: blue;
}
