<!--  file scroll se ocupa -->

<div class="page__side _side-wrapper">
    <div class="page__item _side-block">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestias illo iste fugit quod minima porro saepe quas cum. Debitis possimus eligendi tempora explicabo, quisquam cum numquam distinctio doloremque ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestias illo iste fugit quod minima porro saepe quas cum. Debitis possimus eligendi tempora explicabo, quisquam cum numquam distinctio doloremque ducimus?
    </div>
</div>
<div class="page__body">
    </div>