<div class="slider _swiper">
  <div class="slider__slide">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae corporis
    veniam debitis fuga quia magnam cumque aspernatur dolore reiciendis maxime
    distinctio assumenda est, libero nesciunt minus eum aliquam voluptas dolor?
  </div>
  <div class="slider__slide">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae corporis
    veniam debitis fuga quia magnam cumque aspernatur dolore reiciendis maxime
    distinctio assumenda est, libero nesciunt minus eum aliquam voluptas dolor?
  </div>
  <div class="slider__slide">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae corporis
    veniam debitis fuga quia magnam cumque aspernatur dolore reiciendis maxime
    distinctio assumenda est, libero nesciunt minus eum aliquam voluptas dolor?
  </div>
</div>
