<div class="spollers-block _spollers _one">
  <div class="spollers-block__item">
    <div class="spollers-block__title _spoller">Question</div>
    <div class="spollers-block__body">
      Answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
      accusamus commodi explicabo dicta, mollitia amet! Incidunt, quae fugit.
      Quidem consequuntur consequatur voluptate iusto. Cum deserunt at fugiat
      placeat saepe suscipit.
    </div>
  </div>
  <div class="spollers-block__item">
    <div class="spollers-block__title _spoller">Question</div>
    <div class="spollers-block__body">
      Answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
      accusamus commodi explicabo dicta, mollitia amet! Incidunt, quae fugit.
      Quidem consequuntur consequatur voluptate iusto. Cum deserunt at fugiat
      placeat saepe suscipit.
    </div>
  </div>
  <div class="spollers-block__item">
    <div class="spollers-block__title _spoller">Question</div>
    <div class="spollers-block__body">
      Answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
      accusamus commodi explicabo dicta, mollitia amet! Incidunt, quae fugit.
      Quidem consequuntur consequatur voluptate iusto. Cum deserunt at fugiat
      placeat saepe suscipit.
    </div>
  </div>
</div>
