<div class="tabs-block _tabs">
  <nav class="tabs-block__nav">
    <div class="tabs-block__item _tabs-item _active">TAB 1</div>
    <div class="tabs-block__item _tabs-item">TAB 2</div>
    <div class="tabs-block__item _tabs-item">TAB 3</div>
  </nav>
  <div class="tabs-block__body">
    <div class="tabs-block__block _tabs-block _active">
      [Tabs 1]Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
      laboriosam debitis saepe sapiente ipsa tempore deleniti deserunt ducimus
      consequuntur nostrum facere quo fugit veritatis dolore ab perspiciatis
      eligendi et suscipit? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Veniam dolorum reprehenderit aut asperiores qui praesentium voluptas
      maxime sed rem sunt minima consequatur exercitationem quasi nisi natus
      repudiandae, amet modi debitis?
    </div>
    <div class="tabs-block__block _tabs-block">
      [Tabs 2]Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
      laboriosam debitis saepe sapiente ipsa tempore deleniti deserunt ducimus
      consequuntur nostrum facere quo fugit veritatis dolore ab perspiciatis
      eligendi et suscipit? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Veniam dolorum reprehenderit aut asperiores qui praesentium voluptas
      maxime sed rem sunt minima consequatur exercitationem quasi nisi natus
      repudiandae, amet modi debitis?
    </div>
    <div class="tabs-block__block _tabs-block">
      [Tabs 3]Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
      laboriosam debitis saepe sapiente ipsa tempore deleniti deserunt ducimus
      consequuntur nostrum facere quo fugit veritatis dolore ab perspiciatis
      eligendi et suscipit? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Veniam dolorum reprehenderit aut asperiores qui praesentium voluptas
      maxime sed rem sunt minima consequatur exercitationem quasi nisi natus
      repudiandae, amet modi debitis?
    </div>
  </div>
</div>
