.portfolio-info {
  position: relative;
  margin-top: -17rem;
  margin-bottom: 6rem;
  background: #fff;
  border-radius: 3rem 3rem 0 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__content {
    flex: 0 0 63%;
    padding: 9.7rem 7.9rem 9.7rem 8.3rem;
    @media screen and (max-width: 992px) {
      // margin-bottom: 3rem;
      padding: 9.7rem 7.9rem 5.7rem 8.3rem;
    }
    @media screen and (max-width: 768px) {
      padding: 7.7rem 5.9rem 5.7rem 6.3rem;
    }
    @media screen and (max-width: 576px) {
      padding: 6rem 4rem 4rem 4rem;
    }
  }
  &__data {
    flex: 0 0 40%;
    padding: 9.7rem 9rem 9.7rem 7.3rem;
    background: #fafafa;
    @media screen and (max-width: 992px) {
      padding: 4.7rem 9rem 9.7rem 7.3rem;
    }
    @media screen and (max-width: 768px) {
      padding: 4.7rem 5.9rem 6.7rem 6.3rem;
    }
    @media screen and (max-width: 576px) {
      padding: 3rem 2rem 5rem 2rem;
    }
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__item {
    display: flex;
    align-items: baseline;
  }
  &__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.654;
    color: #525c60;
  }
  table {
    border-spacing: 10px 15px;
  }
  td:not(:last-of-type) {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--accent);
  }
}
