.main-footer {
  margin-bottom: 13.8rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 7rem;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 5rem;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 3rem;
  }
  &__wrap {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    @media screen and (max-width: 576px) {
      justify-content: flex-start;
    }
  }
  &__contact {
    padding-bottom: 5.1rem;
    padding-right: 5.1rem;
    margin-right: 6.2rem;
    border-right: 1px solid #d4d4d4;
    @media screen and (max-width: 992px) {
      margin-right: 0;
      order: 2;
    }
    @media screen and (max-width: 576px) {
      flex: 0 0 100%;
      padding-left: 5rem;
      padding-bottom: 0;
      margin-bottom: 5rem;
    }
  }
  &__title {
    margin-bottom: 3.2rem;
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 3rem;
    color: var(--accent);
  }
  &__title:first-of-type {
    text-align: right;
    @media screen and (max-width: 576px) {
      text-align-last: left;
    }
  }
  ul.main-footer__items {
    text-align: right;
    li:not(:last-of-type) {
      margin-bottom: 3.6rem;
    }
    @media screen and (max-width: 576px) {
      text-align-last: left;
    }
  }
  &__subtitle {
    margin-bottom: 0.3rem;
    font-weight: 700;
    line-height: 1.65;
    color: var(--text-color);
    a {
      font-weight: 400;
    }
  }
  &__content {
    text-align: center;
    @media screen and (max-width: 992px) {
      margin-bottom: 6rem;
      order: 1;
      flex: 0 0 100%;
    }
  }
  &__logo {
    margin-bottom: 1.6rem;
  }
  &__text {
    margin: 0 auto;
    margin-bottom: 4.9rem;
    max-width: 50rem;
    line-height: 1.654;
  }
  &__socials {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    li {
      position: relative;
      width: 6rem;
      height: 6rem;
      background: #e5e5e5;
      border-radius: 50%;
      cursor: pointer;
      transition: all .4s ease-in-out;
      &:hover {
        background: var(--accent);
      }
      &:hover a svg {
        fill: #eff6f1;
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2.1rem;
        fill: var(--accent);
      }
    }
  }
  &__utility {
    margin-left: 6.1rem;
    padding-left: 5.1rem;
    padding-bottom: 5.1rem;
    border-left: 1px solid #d4d4d4;
    @media screen and (max-width: 992px) {
      order: 3;
      margin-left: 0;
    }
    @media screen and (max-width: 576px) {
      padding-left: 5rem;
      border-left: none;
    }
    li:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    a {
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--accent);
        text-decoration-thickness: 2px;
        color: var(--accent);
      }
    }
  }
}
