@keyframes headerFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-header {
  display: flex;
  align-items: center;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 20.4rem;
  background: white;
  // @media screen and (max-width: 1400px) {
  //   justify-content: flex-start;
  // }
  // @media screen and (max-width: 1200px) {
  //   padding: 0 6rem;
  // }
  // @media screen and (max-width: 992px) {
  //   height: 8rem;
  // }
  // &.active {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 6rem;
  //   z-index: 1000;
  //   transition: all 0.4s;
  //   background-color: white;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  //   .sandwitch-wrap {
  //     top: 0;
  //   }
  // }
  &__main-menu {
    position: relative;
    @media screen and (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &__sandwich {
    display: none;
    @media screen and (max-width: 992px) {
      // position: absolute;
      // top: 1.2rem;
      // right: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.fixed-scroll {
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 6rem;
      animation-name: headerFade;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      z-index: 1000;
      .cart-icon {
        top: 2rem;
      }
      .sandwitch-wrap {
        top: 0;
      }
    }
  }
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .logo {
    margin-right: 14rem;
    z-index: 2;
    @media screen and (max-width: 1200px) {
      // width: 12rem;
      margin-right: 5rem;
    }
  }
  &__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
  }
  &__cart {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    padding: 3px 27px 3px 5px;
    border-radius: 36px;
    border: 1px solid #e0e0e0;
    svg {
      flex: 0 0 auto;
    }
  }
}
