.creative {
  margin-bottom: 14.3rem;
  margin-top: 10rem;
  &__wrap {
    display: flex;
  }
  &__content {
    max-width: 67rem;
  }
  &__label {
    margin-bottom: 0.8rem;
  }
  &__title {
    max-width: 46rem;
    margin-bottom: 1.4rem;
  }
  p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.654;
    color: var(--text-color);
  }
  p:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  p:last-of-type {
    margin-bottom: 4.8rem;
  }
  &__flex {
    display: flex;
    align-items: center;
    column-gap: 6.5rem;
    margin-bottom: 5.8rem;
  }
  &__item {
    display: flex;
    column-gap: 1.3rem;
  }
  &__icon {
    height: 5.6rem;
  }
  &__subtitle {
    max-width: 22rem;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--accent);
  }
}
