.experts {
  margin-bottom: 20.2rem;

  &__content {
    text-align: center;
  }
  &__title {
    margin-bottom: 1.6rem;
  }
  &__text {
    margin: 0 auto;
    margin-bottom: 4.2rem;
    max-width: 86rem;
    line-height: 1.654;
  }
  &__wrap {
    display: flex;
    margin: 0 -1.4rem;
  }
  &__item {
    flex: 0 0 calc(100% / 3 - 2.8rem);
    margin: 0 1.4rem;
    border-radius: 3rem;
    overflow: hidden;
    transition: all .4s linear;
    &:hover {
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3);
    }
    &:hover .experts__body {
      background: #fff;
    }
  }
  &__img {
    position: relative;
    padding-bottom: 110%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    padding: 3.5rem 2.8rem 3.4rem 2.8rem;
    background: #f9f8f8;
    transition: all .3s linear;
  }
  &__subtitle {
    font-family: var(--font-2);
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--accent);
  }
  &__footer {
    display: flex;
  }
  &__job {
    font-family: var(--font-3);
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--accent-light);
  }
  &__socials {
    display: flex;
  }
}
