.title-intro {
  font-family: var(--font-2);
  font-weight: 800;
  font-size: 7rem;
  line-height: 1.2;
  color: var(--accent);
  @media screen and (max-width: 768px) {
    font-size: 6.4rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 5.4rem;
  }
}
