.title {
  font-family: var(--font-2);
  font-weight: 800;
  font-size: 5rem;
  color: var(--accent);
  @media screen and (max-width: 768px) {
    font-size: 4.4rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 3.8rem;
  }
  &--light {
    color: white;
  }
}
