.search {
  position: relative;
  width: 37.6rem;
  cursor: pointer;
  @media screen and (max-width: 1500px) {
    width: auto;
  }
  &__body {
      position: fixed;
      top: 30rem;
      left: 50%;
      transform: translate(-50%, -10%);
      width: 600px;
      padding: 6.4rem;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1000;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      transition: all 0.4s ease-in-out;
  }
  &__input {
    height: 66px;
    padding-right: 70px;
    width: 100%;
    text-indent: 30px;
    font-size: 1.8rem;
    color: var(--accent);
    background: #eee;
    border-radius: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus {
      outline: 1px solid #e0e0e0;
    }
  }
  &__list {
    padding-top: 3.2rem;
    text-align: left;
    a {
      display: block;
      margin: 1.6rem 0;
      font-family: var(--font-2);
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--text-accent);
      }
    }
  }
  &__subtitle {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  &__error {
    margin-top: 1rem;
    color: red;
    font-size: 1.6rem;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background: var(--accent-light);
    border-radius: 50%;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
