.news-info {
  position: relative;
  margin-top: -19rem;
  margin-bottom: 8rem;
  padding: 7.6rem 8.2rem;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 14px 36px 0 rgba(204, 204, 204, 0.25);
  background: #fff;
  z-index: 2;
  @media screen and (max-width: 576px) {
    padding: 5.6rem 4.2rem;
  }
  &__header {
    display: flex;
    column-gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__date {
    @media screen and (max-width: 576px) {
      margin-bottom: 1.5rem;
    }
  }
  &__author {
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
  }
  &__logo {
    height: 20px;
  }

  &__title {
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 5.4rem;
    }
    @media screen and (max-width: 576px) {
      font-size: 4rem;
    }
  }
  &__text {
    max-width: 70rem;
  }
  &__logo {
    svg {
      fill: #7eb693;
    }
  }
}
