.juice {
  padding: 18.7rem 0;
  margin-bottom: 18rem;
  background: #f1f8f4;
  @media screen and (max-width: 992px) {
    margin-bottom: 13rem;
  }
  @media screen and (max-width: 576px) {
    padding: 12rem 0;
    margin-bottom: 9rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.2rem;
    row-gap: 4rem;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__item {
    position: relative;
    flex: 1;
    padding-bottom: 30.5%;
    @media screen and (max-width: 1200px) {
      flex: 1 0 47%;
      padding-bottom: 46%;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      @media screen and (max-width: 768px) {
        position: static;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .juice__item:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
    z-index: 2;
  }
  &__title {
    padding: 3.4rem 7.5rem;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
    color: var(--accent);
  }
}
