.organic {
  padding: 20.4rem 0 20rem;
  background: var(--accent);
  &__content {
    margin-bottom: 5rem;
    display: flex;  
    justify-content: space-between;
  }
  &__label {
    margin-bottom: 1.2rem;
  }
  .btn {
    align-self: flex-end;
  }
}