.store {
  &__wrap {
    display: flex;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__img {
    flex: 0 0 49.5%;
    position: relative;
    height: 93.1rem;
    @media screen and (max-width: 768px) {
      padding-bottom: 40%;
    }
    @media screen and (max-width: 576px) {
      padding-bottom: 10%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;

      @media screen and (max-width: 992px) {
        // position: static;
      }
    }
  }
  &__content {
    position: relative;
    top: 10rem;
    left: -8rem;
    height: 100%;
    padding: 8.1rem 8.9rem 7.7rem;
    background: #fff;
    border-radius: 3rem;
    z-index: 2;
    @media screen and (max-width: 1300px) {
      padding: 8.1rem 6rem 7.7rem;
    }
    @media screen and (max-width: 992px) {
      position: static;
    }
    @media screen and (max-width: 576px) {
      padding: 8.1rem 2rem 7.7rem;
    }
    
  }
  &__label {
    margin-bottom: 1.2rem;
  }
  &__title {
    max-width: 50rem;
    margin-bottom: 3.9rem;
  }
  &__list li:not(:last-child) {
    margin-bottom: 3.5rem;
  }
  &__subtitle {
    margin-bottom: 0.7rem;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--accent);
  }
  &__text {
    line-height: 1.654;
    max-width: 70rem;
    @media screen and (max-width: 1300px) {
      max-width: 90rem;
    }
  }
}
